@use "$lib/utils.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");

$initial-accent-1: #d2a8ff;
$initial-accent-2: #70ddc9;
$initial-accent-3: #fcff7e;

:root {
	--color-primary: #1c1c1f;
	--color-secondary: #2c2d32;
	--color-tertiary: #888895;
	--color-tertiary-light: #e7e7e7;
	--color-black: #101011;
	--color-accent-1: var(--color-tertiary-light);
	--color-accent-2: var(--color-secondary);
	--color-accent-3: var(--color-tertiary);

	--color-text-over-dark: var(--color-tertiary-light);
	--color-text-over-light: var(--color-primary);

	--border-radius: 1rem;

	--default-font: "Roboto", sans-serif;

	--scrollbar-size: 0.5vw;
}

.accent-theme-1 {
	--color-accent-1: #{$initial-accent-1};
	--color-accent-2: #{$initial-accent-2};
	--color-accent-3: #{$initial-accent-3};
}

.accent-theme-2 {
	--color-accent-1: #{$initial-accent-2};
	--color-accent-2: #{$initial-accent-3};
	--color-accent-3: #{$initial-accent-1};
}

.accent-theme-3 {
	--color-accent-1: #{$initial-accent-3};
	--color-accent-2: #{$initial-accent-1};
	--color-accent-3: #{$initial-accent-2};
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1) !important;
	transition-timing-function: cubic-bezier(0.76, 0, 0.24, 1) !important;
}

::selection {
	background-color: var(--color-accent-2);
	color: var(--color-text-over-light);
}

body {
	background: var(--color-primary);
	color: var(--color-text-over-dark);
	font-family: var(--default-font);
	font-size: 1.25rem;

	&.no-scroll {
		overflow: hidden;
		height: 100%;
	}
}

h1,
h2,
h3 {
	line-height: 1;
	font-weight: 900;
}

h1 {
	font-size: 8rem;

	@include utils.if-tablet() {
		font-size: min(6rem, 15vw);
	}
}

h2 {
	font-size: 3.5em;

	@include utils.if-tablet() {
		font-size: min(3rem, 10vw);
	}
}

h3 {
	font-size: 2rem;

	@include utils.if-tablet() {
		font-size: min(1.5rem, 7vw);
	}
}

code {
	font-family: "Jetbrains Mono";
	tab-size: 4;
}

.monospaced {
	font-size: min(max(0.85rem, var(--f-size)), 1.1rem) !important;
	word-wrap: break-word;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	max-width: max(50rem, 50vw);

	&:not(:last-child) {
		margin-bottom: 0.25rem;
	}
}

button {
	border: none;
	background-color: transparent;
	font-size: 1em;
	color: inherit;
	font-family: inherit;
	cursor: pointer;
}

::-webkit-scrollbar {
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	height: var(--scrollbar-size);
	width: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-secondary);
	border-radius: var(--border-radius);

	&:hover {
		background-color: #37373d;
	}
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

.skeleton-animation {
	animation: skeleton-loading 1s linear infinite;
	background-image: linear-gradient(
		to right,
		transparent 25%,
		rgba(255 255 255 / 0.15),
		transparent 75%
	);
	background-size: 400%;

	@keyframes skeleton-loading {
		from {
			background-position: left;
		}
		to {
			background-position: right;
		}
	}
}

.dummy {
	display: none;
}
